div{
  width: 500px; height: 180px;
  margin: 0px auto;
  position: relative;
  background-color: rgb(255, 1, 107);
}
div:before{
  content: "";
  width: 0px; height: 0px;
  border-right: 80px solid white;
  border-left: 80px solid transparent;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  background-color: none;
  position: absolute; top: 10px; left: -80px;
  z-index: 0;
}

p{
  width: 260px; height: 160px;
  background-color: white;
  position: absolute; top: 10px; left: 80px;
  margin: 0;
  line-height: 160px;
  padding-left: 140px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  color: rgb(255, 1, 107);
}

p:before{
  content: "Ahmed Zanaty";
  width: 150px; height: 40px;
  background-color: rgb(255, 1, 107);
  position: absolute; top: 60px; left: -20px;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 40px;
}

div::after{
  content: "";
  width: 0px; height: 0px;
  border-right: 80px solid rgb(255, 1, 107);
  border-left: 80px solid transparent;
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  background-color: none;
  position: absolute; top: 10px; right: 20px;
  z-index: 0;
}

p::after{
  content: "";
  width: 30px; height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 145, 0);
  position: absolute; top: 65px; right: 60px;
  z-index: 10;
}